<html lang="eng">
    <%- include("../partial/header") %>

<body>
    <%- include("../partial/nav") %>
   
    <div class="about content">
        <h2>About Us </h2>
        <p>We are The Best of the Best We look for an Excelency in satisfying our customers</p>
        <p>We are The Best of the Best We look for an Excelency in satisfying our customers</p>
        <p>We are The Best of the Best We look for an Excelency in satisfying our customers</p>
    </div>
    <%- include("../partial/footer") %>
</body>


</html>