
<%- include("./partial/header") %>
<body>
    <%- include("./partial/nav") %>
    <div class="not-found content">
        OOPS, page not found :)
    </div>
    <%- include("./partial/footer") %>
</body>
</html>